.title-ad-container {
  background: black;
}

.title-ad {
  color: #fff;
  text-align: center;
  font-family: Titillium Web;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  align-items: center;
  height: 62px;
  padding: 10px;
}
