@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-3-500, #fafafa);
  margin: 26px;
}
.footer-title {
  color: var(--color-2-500, #353535);
  font-family: Titillium Web;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
}

.footer-infos {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: var(--color-2-900, #000);
  font-family: Titillium Web;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.container-footer-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-2-500, #353535);
  position: relative;
}

.social-icon {
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.payments-methods {
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.footer-icon {
  padding: 10px;
}
.dev-icon {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    margin: 0px 0 45px;
  }

  .container-footer-icon {
    display: flex;
    flex-direction: row;
  }

  .footer-infos {
    display: block;
  }

  .dev-icon {
    display: flex;
  }

  .dev-icon p {
    color: white;
  }

  .title-dev::after {
    display: inline-block;
    content: "";
    background: url(../../assets/logoFooter.png),
      lightgray 50% / cover no-repeat;
    width: 65px;
    height: 26px;
    position: absolute;
    right: 332px;
    bottom: 2px;
    background-color: transparent;
  }

  .title-dev-2 {
    padding-left: 25px;
  }
  .title-dev-2::after {
    display: inline-block;
    content: "";
    background: url(../../assets/logoMaeztra.png),
      lightgray 50% / cover no-repeat;
    width: 119px;
    height: 23px;
    position: absolute;
    right: 184px;
    bottom: 6px;
    background-color: transparent;
  }
}
